body {
    background: #0e0e0e;
    color: white;
    font-family: Arial;
    text-align: center;
}

.card {
    width: 300px;
    height: 120px;
    background: white;
    color: black;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
}

.members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
}

.member {
    background: #ddd;
    color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

