body {
    margin: 0;
    background: #0b0b0b;
    font-family: Arial, sans-serif;
}

.homescreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ammoknights-card {
    width: 600px;
    height: 150px;
    background: white;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 30px;
    cursor: pointer;
}

.ammoknights-card h2 {
    font-size: 28px;
    margin: 0;
}

.character {
    height: 120px;
}

