body {
    margin: 0;
    background: #0b0b0b;
    font-family: Arial, sans-serif;
}

.homescreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ammoknights-card {
    width: 600px;
    height: 150px;
    background: white;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 30px;
    cursor: pointer;
}

.ammoknights-card h2 {
    font-size: 28px;
    margin: 0;
}

.character {
    height: 120px;
}

.ammoknights-page {
    padding: 40px;
    color: white;
}

.static {
    cursor: default;
}

.member-title {
    margin: 30px 0 10px;
}

.members {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.member {
    background: #d9d9d9;
    height: 90px;
    border-radius: 6px;
}

